# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next/
out/
build
dist

# Misc
.DS_Store
*.pem

# Environment files (keep .env for Docker build)
.env.local
.env.production
.env.development

# Git
.git
.gitignore
README.md

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.vscode
.idea